.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.body {
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cardImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px 8px 0 0; 
  margin-bottom: 1rem;
}